body {
    /* font-family: Arial, sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecf6f1;
    font-size:24px;
    color:black;
    background-image: url('https://img.freepik.com/premium-photo/spices-herbs-background-black-stone-with-copy-space-top-view_410516-39862.jpg');
    background-size: cover;
    
}
h1{
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 8px 3px 2px #e7e0e5;
}

.container {
    /* background:linear-gradient(rgb(82, 75, 82),black,rgb(241, 145, 241),rgb(138, 137, 138)); */
   
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRYI9X9svXfX2QaSt8vRUn4DZosuPLhp8Xg&s');
    background-size:1000px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: -8px 10px 5px 3px rgb(20, 20, 20);
    max-width: 450px;
    width: 100%;
}
.img-container{
    display:flex;
    justify-content: center;
    text-align: center;
}
.image-logo{
    width:50%;
    border-radius: 50%;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    width: 100%;
}

.input-group {
    margin-bottom: 15px;
    width: 100%;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    font-size:18px;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height:5vh;
    box-shadow: -6px 5px 4px 3px rgb(20, 20, 20);
}

button {
    font-weight: bold;
    margin-top: 20px;
    font-size:20px;
    width: 100%;
    padding: 10px;
    background: #4d3203;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: -6px 5px 4px 3px rgb(20, 20, 20);
}

button:hover {
    background: #845121;
}

.message {
    text-align: center;
    margin-top: 15px;
}

.message a {
    color: #fcf8f7;
    text-decoration: none;
}

.message a:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 0.9em;
    display: none;
    margin-top: 5px;
}
